<%= render "layouts/messages" %>

<% if @stock %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @stock.name %></h5>
      <p class="card-text">
        Ticker: <%= @stock.ticker %> : $<%= @stock.last_price %>  
      </p>
    </div>
  </div>
<% end %>